/build
/tmp
/.vagrant
/debian/files
/debian/debhelper-build-stamp
/debian/clojure-skeleton
/debian/clojure-skeleton.substvars
/documentation/man/*.1
/.scannerwork
/target
/classes
/checkouts
/pom.xml
/pom.xml.asc
/.lein-*
/.nrepl-port
*.jar
*.class
